/*Styles used by whole website*/
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Index page styles*/
.loginDiv
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0px;
    text-align: left;
}

/* Sign up page styles*/

.signup-form
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0px;
    text-align: left;
}

hr
{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

input[type=text], input[type=password]
{
    width: 90%;
    display: inline-block;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* Contact page styles*/